In [5]:
# Data manipulation
import numpy as np
import pandas as pd

# Data visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import plotly.express as px
import plotly.graph_objs as go

# Machine learning
import sklearn

# Ignore warning
import warnings
warnings.filterwarnings("ignore")

In [6]:
from matplotlib import rcParams

In [7]:
df = pd.read_csv('marketing_campaign_data.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [8]:
df.sample(10)

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntCoke,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
886,886,7023,1953,S3,Lajang,46231000.0,2,1,26-11-2012,87,189000,2000,55000,0,5000,12000,4,6,1,4,9,0,0,0,0,0,0,3,11,0
2208,2208,3850,1963,SMA,Bertunangan,14918000.0,0,1,07-12-2012,52,3000,3000,3000,15000,4000,15000,1,1,0,3,6,0,0,0,0,0,0,3,11,0
1711,1711,7832,1959,S2,Menikah,77520000.0,0,1,28-08-2013,30,940000,44000,396000,0,88000,58000,1,8,7,7,4,1,0,1,1,0,0,3,11,1
1080,1080,3535,1965,S1,Lajang,66294000.0,0,0,17-03-2014,68,251000,108000,334000,65000,92000,117000,1,4,3,5,2,0,0,0,0,0,0,3,11,0
1830,1830,6859,1987,S1,Lajang,29236000.0,1,0,08-10-2013,30,37000,4000,24000,16000,9000,9000,2,4,0,3,9,0,0,0,0,0,0,3,11,0
1512,1512,9451,1965,S1,Menikah,73538000.0,0,1,25-11-2012,92,811000,76000,428000,99000,137000,107000,3,10,4,9,7,0,0,0,0,0,0,3,11,0
1130,1130,3412,1951,S2,Menikah,67381000.0,0,1,15-01-2013,67,815000,8000,53000,11000,0,70000,4,2,2,9,7,0,1,0,0,0,0,3,11,0
1192,1192,2315,1960,S1,Cerai,58401000.0,0,1,20-04-2014,55,10000,0,11000,17000,29000,29000,1,1,2,2,4,0,0,0,0,0,0,3,11,0
1447,1447,5221,1957,S1,Menikah,52852000.0,0,1,01-12-2012,93,714000,8000,99000,11000,0,47000,4,10,7,5,8,1,0,0,0,0,0,3,11,0
57,57,7437,1988,S1,Lajang,27938000.0,1,0,28-04-2014,31,13000,0,8000,2000,1000,5000,1,1,0,4,3,0,0,0,0,0,0,3,11,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2240 non-null   int64
 1   ID                   2240 non-null   int64
 2   Year_Birth           2240 non-null   int64
 3   Education            2240 non-null   object
 4   Marital_Status       2240 non-null   object
 5   Income               2216 non-null   float64
 6   Kidhome              2240 non-null   int64
 7   Teenhome             2240 non-null   int64
 8   Dt_Customer          2240 non-null   object
 9   Recency              2240 non-null   int64
 10  MntCoke              2240 non-null   int64
 11  MntFruits            2240 non-null   int64
 12  MntMeatProducts      2240 non-null   int64
 13  MntFishProducts      2240 non-null   int64
 14  MntSweetProducts     2240 non-null   int64
 15  MntGoldProds         2240 non-null   int64
 16  NumDealsPurchases    2240 non-null   int64
 17  NumWebPurchases      2240 non-null   int64
 18  NumCatalogPurchases  2240 non-null   int64
 19  NumStorePurchases    2240 non-null   int64
 20  NumWebVisitsMonth    2240 non-null   int64
 21  AcceptedCmp3         2240 non-null   int64
 22  AcceptedCmp4         2240 non-null   int64
 23  AcceptedCmp5         2240 non-null   int64
 24  AcceptedCmp1         2240 non-null   int64
 25  AcceptedCmp2         2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Z_CostContact        2240 non-null   int64
 28  Z_Revenue            2240 non-null   int64
 29  Response             2240 non-null   int64
dtypes: float64(1), int64(26), object(3)
memory usage: 525.1+ KB

In [16]:
print('Dataset ini memiliki dimensi data, yaitu')
print('Jumlah baris: {}'.format(df.shape[0]))
print('Jumlah kolom: {}'.format(df.shape[1]))

Dataset ini memiliki dimensi data, yaitu
Jumlah baris: 2240
Jumlah kolom: 30

In [19]:
percent_missing = df.isnull().sum() * 100 / len(df)
dtypes=[df[col].dtype for col in df.columns]
missing_value_df = pd.DataFrame({'data_type':dtypes,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', ascending=False, inplace=True)
missing_value_df.head(10)

                  data_type  percent_missing
Income              float64         1.071429
Unnamed: 0            int64         0.000000
NumDealsPurchases     int64         0.000000
Z_Revenue             int64         0.000000
Z_CostContact         int64         0.000000
Complain              int64         0.000000
AcceptedCmp2          int64         0.000000
AcceptedCmp1          int64         0.000000
AcceptedCmp5          int64         0.000000
AcceptedCmp4          int64         0.000000

In [9]:
print("Unique Features (Numerical)")
print(df.select_dtypes(exclude='object').nunique())

Unique Features (Numerical)
Unnamed: 0             2240
ID                     2240
Year_Birth               59
Income                 1974
Kidhome                   3
Teenhome                  3
Recency                 100
MntCoke                 776
MntFruits               158
MntMeatProducts         558
MntFishProducts         182
MntSweetProducts        177
MntGoldProds            213
NumDealsPurchases        15
NumWebPurchases          15
NumCatalogPurchases      14
NumStorePurchases        14
NumWebVisitsMonth        16
AcceptedCmp3              2
AcceptedCmp4              2
AcceptedCmp5              2
AcceptedCmp1              2
AcceptedCmp2              2
Complain                  2
Z_CostContact             1
Z_Revenue                 1
Response                  2
dtype: int64

In [11]:
print("Unique Features (Categorical)")
print(df.select_dtypes(exclude=['int','float']).nunique())

Unique Features (Categorical)
Education           5
Marital_Status      6
Dt_Customer       663
dtype: int64